.h-100{
    background: rgb(26,56,82);
    background: linear-gradient(9deg, rgba(26,56,82,1) 0%, rgba(53,118,146,1) 90%);
    background-image: url("https://images5.alphacoders.com/293/293987.jpg");
    background-size: cover;
}

.logo {
    height: 15%;
    width: 15%;
}

.carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    white-space: nowrap;
    overflow-x: hidden;
}

.card {
background-color: #000;
}

.card-title {
    background-color: #ffc107;
}

h1 {
    color: #ffff;
    font-size: 50pt;
}

a {

    color: #ffc107;
}
